.shopWrapperMain > .container-fluid > hr {
  margin: 3% 1%;
  background-color: #999;
}

.shopWrapperMain
  > .container-fluid
  .shopSortByWrapper
  > .shopSortbyForm
  > label {
  text-transform: capitalize;
  font-weight: bold;
  color: #333;
}

.shopWrapperMain
  > .container-fluid
  .shopSortByWrapper
  > .shopSortbyForm
  > select {
  width: 35% !important;
  color: #666;
  font-size: 90%;
}

.shopWrapperMain
  > .container-fluid
  .shopshowManyWrapper
  > .shopshowManyForm
  > select {
  width: 25%;
  color: #666;
  font-size: 90%;
}

.shopWrapperMain
  > .container-fluid
  .shopSortByWrapper
  > .shopSortbyForm
  > select:focus,
.shopWrapperMain
  > .container-fluid
  .shopshowManyWrapper
  > .shopshowManyForm
  > select:focus {
  box-shadow: none;
  border-color: #eee;
}
