/* Accordion Headers customization */

.shopFilterWrapper > .shopFilterTitle > h4 {
  font-size: 100%;
  color: #333;
  font-weight: bold;
}

.shopFilterWrapper
  > .shopFilterAccordionWrapper
  > .accordion
  > .accordion-item {
  border: transparent;
}

.shopFilterWrapper
  > .shopFilterAccordionWrapper
  > .accordion
  > .accordion-item
  > .accordion-header {
  display: inline-block;
  width: 100%;
}

.shopFilterWrapper
  > .shopFilterAccordionWrapper
  > .accordion
  > .accordion-item
  > .accordion-header
  > button
  > span:after {
  position: absolute;
  content: "";
  left: 0;
  bottom: 2.5px;
  height: 2px;
  background-color: #666;
}

.shopFilterWrapper
  > .shopFilterAccordionWrapper
  > .accordion
  > .accordion-item:first-child
  .accordion-header
  > button
  > span:after {
  width: 38%;
}

.shopFilterWrapper
  > .shopFilterAccordionWrapper
  > .accordion
  > .accordion-item:last-child
  .accordion-header
  > button
  > span:after {
  width: 14%;
}

.shopFilterWrapper
  > .shopFilterAccordionWrapper
  > .accordion
  > .accordion-item
  > .accordion-header
  > button {
  background: transparent;
  font-weight: 500;
  font-size: 55%;
  position: relative;
  margin: -0.1rem 0;
  padding: 1.4rem 0rem 0.75rem 0rem;
  color: #333;
  text-transform: capitalize;
  cursor: pointer;
  border-bottom: 1px solid #eee;
}

.shopFilterWrapper
  > .shopFilterAccordionWrapper
  > .accordion
  > .accordion-item
  > .accordion-header
  > button:focus {
  border-color: none;
  box-shadow: none;
}

.shopFilterWrapper
  > .shopFilterAccordionWrapper
  > .accordion
  > .accordion-item
  > .accordion-header
  > button::after {
  background: transparent;
  width: 12px;
  border-top: 2px solid #666;
  transform: rotate(90deg);
  height: auto;
  transition: transform 300ms ease-in-out;
}

.shopFilterWrapper
  > .shopFilterAccordionWrapper
  > .accordion
  > .accordion-item
  > .accordion-header
  > button:not(.collapsed)::after {
  transform: rotate(-1deg);
  transition: transform 300ms ease-in-out;
}

/* Accordion Body customization */

.shopFilterWrapper
  > .shopFilterAccordionWrapper
  > .accordion
  > .accordion-item
  .accordion-body {
  padding: 0;
}

.shopFilterWrapper
  > .shopFilterAccordionWrapper
  > .accordion
  > .accordion-item
  .accordion-body
  > .accordionBodyList {
  list-style: none;
  padding: 0;
  margin: 0;
}

.shopFilterWrapper
  > .shopFilterAccordionWrapper
  > .accordion
  > .accordion-item
  .accordion-body
  > .accordionBodyList
  > .accordionBodyListItem {
  margin-top: 4%;
}

.shopFilterWrapper
  > .shopFilterAccordionWrapper
  > .accordion
  > .accordion-item
  .accordion-body
  > .accordionBodyList
  > .accordionBodyListItem
  > a {
  text-decoration: none;
  color: #444;
  text-transform: capitalize;
}

.shopFilterWrapper
  > .shopFilterAccordionWrapper
  > .accordion
  > .accordion-item
  .accordion-body
  > .accordionBodyList
  > .accordionBodyListItem
  > a:hover {
  color: #b64400;
}

.shopFilterWrapper
  > .shopFilterAccordionWrapper
  > .accordion
  > .accordion-item
  .accordion-body
  > .accordionBodyList
  .accordionFilterPriceForm
  input::-webkit-outer-spin-button,
.shopFilterWrapper
  > .shopFilterAccordionWrapper
  > .accordion
  > .accordion-item
  .accordion-body
  > .accordionBodyList
  .accordionFilterPriceForm
  input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  -moz-appearance: textfield;
}

.shopFilterWrapper
  > .shopFilterAccordionWrapper
  > .accordion
  > .accordion-item
  .accordion-body
  > .accordionBodyList
  .accordionFilterPriceForm
  input {
  padding: 0.5rem;
  font-family: Poppins, sans-serif;
  font-size: 90%;
  color: #999;
  border: 1px solid #ccc;
  border-radius: 3px;
  width: 62px;
  height: 37px;
  line-height: 37px;
  vertical-align: middle;
  text-align: center;
}

.shopFilterWrapper
  > .shopFilterAccordionWrapper
  > .accordion
  > .accordion-item
  .accordion-body
  > .accordionBodyList
  .accordionFilterPriceForm
  input:focus {
  box-shadow: none;
}

.shopFilterWrapper
  > .shopFilterAccordionWrapper
  > .accordion
  > .accordion-item
  .accordion-body
  > .accordionBodyList
  .accordionFilterPriceForm {
  display: flex;
  align-items: center;
}

.shopFilterWrapper
  > .shopFilterAccordionWrapper
  > .accordion
  > .accordion-item
  .accordion-body
  > .accordionBodyList
  .accordionFilterPriceForm
  > .filterPriceDelimeter {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 0.65rem;
  font-size: 1.5rem;
  font-weight: 600;
  color: #999;
}

.shopFilterWrapper
  > .shopFilterAccordionWrapper
  > .accordion
  > .accordion-item
  .accordion-body
  > .accordionBodyList
  .accordionFilterPriceForm
  > button {
  padding: 0;
  font-weight: 400;
  width: 3rem;
  height: 2.5rem;
  vertical-align: middle;
  line-height: 2.6;
  margin-left: 0.5rem;
  text-transform: none;
  border-color: #b64400;
  background-color: #b64400;
  font-size: 90%;
}

.shopFilterWrapper
  > .shopFilterAccordionWrapper
  > .accordion
  > .accordion-item
  .accordion-body
  > .accordionBodyList
  .accordionFilterPriceForm
  > button:hover {
  border-color: #923904;
  background-color: #923904;
}

.shopFilterWrapper
  > .shopFilterAccordionWrapper
  > .accordion
  > .accordion-item
  .accordion-body
  > .accordionBodyList
  .clearFilter {
  width: 100%;
}

.shopFilterWrapper
  > .shopFilterAccordionWrapper
  > .accordion
  > .accordion-item
  .accordion-body
  > .accordionBodyList
  .clearFilter
  > button {
  border-color: #b64400;
  background-color: #b64400;
  text-transform: uppercase;
  width: 210px;
  font-weight: bold;
  font-size: 90%;
  padding: 0.75em 1.95em;
}

.shopFilterWrapper
  > .shopFilterAccordionWrapper
  > .accordion
  > .accordion-item
  .accordion-body
  > .accordionBodyList
  .clearFilter
  > button:hover {
  border-color: #923904;
  background-color: #923904;
}
