.shopCategorySliderImgWrapper {
  cursor: pointer;
  padding: 4%;
}

.shopCategorySliderImgWrapper:hover.shopCategorySliderImgWrapper > img {
  border-width: 8px;
  box-shadow: 0 5px 20px rgb(0 0 0 / 20%);
}

.shopCategorySliderImgWrapper:hover.shopCategorySliderImgWrapper > span {
  color: #336699;
}

.shopCategorySliderImgWrapper > img {
  object-fit: cover;
  width: 80%;
  height: auto;
  border-radius: 50%;
  overflow: hidden;
  border: 0px solid #fff;
  transition: box-shadow 0.1s, border-width 0.1s;
}

.shopCategorySliderImgWrapper > span {
  margin-top: 8%;
  font-weight: bold;
  text-transform: uppercase;
  color: #555;
}

.shopCategorySliderImgWrapper > span:hover {
  color: #0088cc !important;
}
