.shopWrapperMain > .container-fluid > hr {
  margin: 3% 1%;
  background-color: #999;
}

.shopWrapperMain
  > .container-fluid
  .shopSortByWrapper
  > .shopSortbyForm
  > label {
  text-transform: capitalize;
  font-weight: bold;
  color: #333;
}

.shopWrapperMain
  > .container-fluid
  .shopSortByWrapper
  > .shopSortbyForm
  > select {
  width: 40%;
  color: #444;
}

.shopWrapperMain
  > .container-fluid
  .shopSortByWrapper
  > .shopSortbyForm
  > select:focus {
  box-shadow: none;
  border-color: #eee;
}
