.prodBox {
  position: absolute;
  width: 100%;
  height: 95%;
}

.productIntroDotsContainer {
  display: flex;
  justify-content: space-between;
}

.productIntroDotsContainer > button {
  padding: 0%;
  width: 100%;
  border: transparent;
}

.productIntroDotsContainer > button:not(:last-child) {
  margin-right: 10px;
}

.productIntroDotsContainer > button.carousel__dot--selected {
  border: 1px solid #b64400;
  transition: all 200ms ease-in-out;
}

/* Next / Back buttons customization */

.prodIntroButtonsContainer {
  position: absolute;
  top: 40%;
  transform: translateY(-40%);
  width: 100%;
}

.prodIntroButtonsContainer > button {
  width: 25px;
  height: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.25rem;
  position: absolute;
  border-radius: 50%;
  border: transparent;
  background: transparent;
  padding: 15px;
}

.prodIntroButtonsContainer > button:not(:disabled) {
  /* color: #b64400; */
  color: #2b579a;
}

.prodIntroButtonsContainer > button:hover:not(:disabled) {
  background-color: #2b579a;
  color: #fff;
  transition: all 0.5s ease-in-out;
}

.prodIntroButtonsContainer > button:first-child {
  left: 2%;
}

.prodIntroButtonsContainer > button:last-child {
  right: 2%;
}

/* product middle container part customization */

.prodIntroMid {
  padding: 5%;
  box-shadow: 1px 1px 11px rgb(0 0 0 / 55%);
}

.prodIntroMid > h2 {
  font-size: 150%;
  font-weight: 700;
  text-transform: capitalize;
  color: #333;
}

.prodIntroMidTop {
  font-size: 80%;
  color: #666;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.prodIntroMidTop > nav > ol > li > a {
  color: #999;
  text-decoration: none;
}

.prodIntroMidTop {
  color: #999;
}

.bold {
  color: #444;
  font-weight: 400;
}

.prodIntroMidMid > h2 {
  font-size: 200%;
  font-weight: bold;
  color: #ff2f03;
}

.prodIntroAttr > .prodIntroForm {
  color: #999;
  border-radius: 0%;
  padding: 2% 5%;
}

.prodIntroAttr > .prodIntroForm:focus {
  box-shadow: none;
}

.prodIntroMidLast > button {
  padding: 2.5% 6%;
  font-size: 80%;
  font-weight: bold;
  background-color: #b64400;
  border-color: #b64400;
  border-radius: 2px;
  text-transform: uppercase;
}

.prodIntroMidLast > button:hover,
.prodIntroMidLast > button:focus,
.prodIntroMidLast > button:active {
  background-color: #923904;
  border-color: #923904;
  box-shadow: none;
}

.prodIntroMidLast > a {
  font-size: 150%;
  color: #666;
}

.prodIntroMidLast > a:hover {
  color: #2b579a;
}
