.prodCardsTitle {
  font-size: 150%;
  font-weight: 700;
}

.showMoreProdsLink {
  text-decoration: none;
  color: #333;
  font-size: 100%;
  font-weight: bold;
}

.showMoreProdsLink:hover {
  color: #512500;
}

.showMoreProdsLinkArrow {
  margin-left: 1rem;
}

@media only screen and (max-width: 435px) {
  .prodCardsRow1 {
    flex-direction: column;
    text-align: center;
  }

  .prodCardsRow1Col2 {
    justify-content: center !important;
  }
}

.slideInner___2mfX9 {
  display: contents;
}

.cardContainerCard {
  cursor: pointer;
}

.cardBody {
  box-shadow: 1px 1px 11px rgb(0 0 0 / 14%);
  text-align: center;
}

.cardImage {
  /* object-fit: cover; */
  object-fit: scale-down;
  height: 14rem;
}

.cardBody .card-title.h5 {
  text-transform: uppercase;
  font-size: 80%;
  color: #666;
}

.cardBody > p.card-text {
  font-weight: bold;
  color: #333;
}

.cardBody > p.card-text > .discAndActPrice > span {
  color: #ff3c12;
}

.cardFvt {
  position: absolute;
  right: 10%;
  top: 1rem;
  background-color: #b64400;
  color: white;
  border-radius: 50%;
  /* width: 2.5rem; */
  /* height: 2.5rem; */
  width: 2rem;
  height: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: opacity 0.3s, visibility 0.3s;
  opacity: 0;
  visibility: hidden;
}

.cardFvt:hover {
  transition: all 0.5s ease-in-out;
  background-color: #512500;
}

.cardContainerCard:hover .cardFvt {
  opacity: 1;
  visibility: visible;
}
.cardFvt > i {
  /* font-size: 1.25rem; */
  font-size: 1rem;
}

.cardDiscount,
.cardTag {
  position: absolute;
  left: 10%;
  border-radius: 10px;
  color: #fff;
  text-transform: uppercase;
  font-size: 80%;
  padding: 1% 5%;
}

.cardDiscount {
  background-color: #512500;
  top: 1rem;
}

.cardTag {
  background-color: #b64400;
  top: 3rem;
}

@media only screen and (max-width: 380px) {
  .cardBody > p.card-text > .discAndActPrice > del,
  span {
    font-size: 80%;
  }
}

@media only screen and (max-width: 330px) {
  .cardBody > p.card-text {
    font-size: 75%;
  }

  .cardBody > p.card-text > .discAndActPrice > del,
  span {
    font-size: 100%;
  }
}

@media only screen and (max-width: 335px) {
  .cardBody > p.card-text {
    font-size: 70%;
  }

  .cardBody > p.card-text > .discAndActPrice > del,
  span {
    font-size: 100%;
  }
}

.carouselBtnContainer > .carouselBtn > i {
  font-size: 120%;
}

.carouselBtnContainer > .carouselBtn {
  position: relative;
  padding: 10px;
  border-radius: 50%;
  opacity: 0;
}

.prodCards .carousel:hover .carouselBtnContainer > .carouselBtn {
  transition: all 200ms ease-in-out;
  opacity: 1;
}

.carouselBtn:first-child {
  position: absolute;
  top: 30%;
  transform: translateY(-30%);
  left: 0;
  border: none;
}

.carouselBtn:last-child {
  position: absolute;
  top: 30%;
  transform: translateY(-30%);
  right: 0;
  border: none;
}
