.iconBox {
  height: 100%;
}

.iconBox > i {
  font-size: 2rem !important;
  margin-right: 1.5rem;
  color: #512500;
}

.textBox {
  color: #333;
}

.textBox > h4 {
  font-size: 100%;
  font-weight: 700;
  letter-spacing: -0.05rem;
}

.textBox > p {
  font-size: 100%;
  color: #666;
}
