.header-top {
  margin: 0px !important;
  padding: 5px 0px !important;
  background-color: #512500;
  font-size: 1.1rem !important;
  letter-spacing: -0.027em;
  text-transform: capitalize;
}

.dropDown .dropdown-menu::before {
  position: absolute !important;
  content: "";
  top: auto;
  width: 15px;
  height: 15px;
  background-color: white;
  bottom: 99%;
  left: 50%;
  transform: translateX(-50%);
  clip-path: polygon(50% 47%, 0 100%, 100% 100%);
}
.navBar-links .dropdown-menu {
  padding: 5px 0;
  box-shadow: 0 4px 20px -8px rgb(0 0 0 / 30%);
  border: none;
  position: absolute !important;
  left: 70% !important;
  transform: translateX(-70%) !important;
  min-width: 3rem !important;
  /* min-width: 3.5rem !important; */
  margin-top: 0px !important;
  border-radius: 0px !important;
}

.dropdownItem {
  text-align: center !important;
}
.topContainer {
  max-width: 100% !important;
  margin: 0px 10px !important;
}

.navBar-links a {
  color: #fff !important;
  font-size: 0.7rem !important;
  font-weight: 400;
  margin-right: 10px;
}

.navBar-links .dropDown a {
  margin-right: 0px;
}

.signin {
  display: flex !important;
  justify-content: space-between !important;
  align-items: center !important;
}
.headerUserIcon:before {
  font-size: 1rem;
  margin-right: 5px;
}

.dropDown.dropdown .navBar-links .dropdown-toggle::after {
  margin-left: 0.5em !important;
  background-color: transparent;
}

.navBar-links a.dropdownItem {
  color: black !important;
}

.user-link {
  color: #333 !important;
}

.header-welcome {
  color: #fff !important;
  font-size: 0.7rem !important;
  font-weight: 400;
}

.dropdownItem:hover,
.dropdownItem:active {
  background-color: transparent !important;
}

.dropDown.dropdown > a::after {
  display: inline-block !important;
  margin-left: 6px !important;
  content: "" !important;
  font-family: "Font Awesome 5 Free" !important;
  font-size: 8px !important;
  font-weight: 900 !important;
  border: none !important;
}

.navBar-links a:hover {
  color: #b64400 !important;
  transition: all 500ms ease;
}

@media only screen and (max-width: 991px) {
  .navBar-links > a {
    display: none !important;
  }
}

/* Header Middle CSS */

.headerMid {
  padding-top: 3.2rem !important;
  padding-bottom: 3.3rem !important;
  color: #333;
  background: #fff;
  font-size: 1.2rem;
  border-bottom: 1px solid #eee;
}

.headerMidContainer {
  max-width: 100% !important;
  margin: 0px !important;
  display: flex !important;
  justify-content: space-between !important;
  align-items: center;
}

.headerMidContainer > button.navbar-toggler {
  margin-right: 20px;
}

.headerMidToggler,
.headerMidToggler:hover,
.headerMidToggler:active,
.headerMidToggler:focus {
  border: none !important;
  outline: none !important;
  box-shadow: 0 0 0 0 !important;
}

.headerMidToggler > span.navbar-toggler-icon {
  background-image: none !important;
}

.headerMidToggler.navbar-toggler {
  color: rgb(50, 50, 50, 0.8) !important;
  font-size: 24px;
}

.headerMidToggler.navbar-toggler:hover {
  color: #512500 !important;
}

.headerMidContainer > a:nth-child(2) {
  flex: 1;
}

.headerMidContainer > a:nth-child(3) {
  flex: 6;
  display: flex;
  justify-content: center;
  align-items: center;
}

.headerLast {
  flex: 2;
}

.headerMidLogo {
  width: 140px;
}

.headerMidBanner {
  border-left: 1px solid #878774;
}

.headerLast a {
  font-size: 14px;
  font-weight: bold;
}

.headerLast > .navbar-nav {
  margin-right: 2px !important;
}

.headerLast a:not(:last-child) {
  margin-right: 10px;
}

.headerLast > div > div > a {
  font-size: 26px;
  margin-right: 0px !important;
}

.headerLast a:first-child {
  color: #512500 !important;
}

.headerLast a:hover {
  color: #512500 !important;
  transition: all 500ms ease;
}

.cartIcon {
  position: relative;
}

.cartCount {
  position: absolute;
  right: -8px;
  top: -5px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.7rem;
  padding: 0.6rem !important;
  line-height: 1.9rem;
  /* background-color: #512500; */
  background-color: rgb(238, 234, 234);
  color: #512500;
  /* color: #fff; */
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  z-index: 1;
}

.cartText {
  font-size: 0.8rem;
  font-weight: 400;
}

.headerMidDropdown > a {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.headerMidDropdown a:after {
  display: none;
}

.headerMidDropdown > .dropdown-menu {
  position: absolute !important;
  padding: 1rem;
  border: none;
  min-width: 20rem !important;
  left: 100% !important;
  transform: translateX(-100%) !important;
  box-shadow: 0 4px 20px -8px rgb(0 0 0 / 30%);
  color: #666 !important;
  background-color: #fff !important;
}

.headerMidDropdown .headerMidDropdownItem:not(:first-child) {
  margin-top: 10px !important;
}

.headerMidDropdown .headerMidDropdownItem:hover {
  background-color: transparent !important;
}

.headerMidDropdown .headerMidDropdownItem:hover p.prodDesc {
  color: #512500 !important;
  transition: all 200ms ease;
}

.prodDesc {
  font-size: 0.95rem;
  line-height: 1.4;
}

.cartItemRemoveBtn > i {
  font-size: 0.75rem;
}

.cartItemRemoveBtn {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  padding: 10px !important;
  box-shadow: 0px 3px 5px 2px rgb(0 0 0 / 20%) !important;
  position: absolute;
  top: -10px;
  right: -10px !important;
  z-index: 1 !important;
  background-color: #fff !important;
  color: #666 !important;
  border-radius: 50% !important;
  outline: none !important;
  border: none !important;
  width: 1rem !important;
  height: 1rem !important;
}

.cartItemRemoveBtn:hover {
  color: #512500 !important;
}

@media only screen and (max-width: 997px) {
  .headerLast > div.navbar-nav {
    flex-direction: row;
    justify-content: flex-end !important;
    width: 100%;
  }

  .headerLast > div.navbar-nav > a {
    margin-left: 10px;
  }

  .headerLast > .navbar-nav > a:nth-child(-n + 2) {
    /* first two links hidden */
    display: none;
  }

  .headerMidContainer > a:nth-child(3) {
    /* header gif banner hidden */
    display: none;
  }
}

@media only screen and (max-width: 480px) {
  .headerLast > .navbar-nav > a:nth-child(-n + 4) {
    /* first four links hidden */
    display: none;
  }
}

@media only screen and (max-width: 340px) {
  .headerMidDropdown > .dropdown-menu {
    min-width: 18rem !important;
  }
}

/* Offcanvas customization */

#offcanvasNavbar.offcanvas {
  background-color: #222;
  color: #fff;
  width: 300px !important;
  transition: transform 0.4s ease-in-out !important;
  box-shadow: 1px 0 5px rgb(0 0 0 / 50%);
  /* padding: 0.5rem; */
}

.headerOffCanvas {
  display: block !important;
}

.headerOffCanvas > button.btn-close {
  position: absolute;
  right: -10%;
  top: 3.2%;
  background-color: #fff !important;
}

.headerOffCanvas > button.btn-close:active,
.headerOffCanvas > button.btn-close:focus {
  border: none !important;
  outline: none !important;
  box-shadow: 0 0 0 0 !important;
}

.sideBarForm {
  width: 100% !important;
  border: 1px solid;
  border-color: #333 !important;
  border-radius: 0.3rem 0 0 0.3rem !important;
}

.searchBtn {
  background: transparent !important;
  border: none !important;
}

.sideBarSearchInput {
  border: none !important;
  min-height: 2rem;
  color: #777 !important;
  background: transparent !important;
}

/* Sidebar body Tabs customization */

ul.headerSideBarTabs {
  width: 100% !important;
  border-bottom: none !important;
}

ul.headerSideBarTabs > li {
  margin: 0 !important;
  width: 100% !important;
  margin: 0 !important;
}

ul.headerSideBarTabs > li > button {
  color: #fff !important;
  font-size: 0.77rem;
  font-weight: bold;
  border-bottom: 1px solid #fff !important;
  width: 99% !important;
  margin: 0 !important;
}

ul.headerSideBarTabs > li > button.active {
  color: #0088cc !important;
  border-color: #0088cc !important;
}

/* Sidebar body Tabs content customization */

/* Main Menu Customization */

.sideBarContentItems a.nav-link {
  color: #fff !important;
  padding-bottom: 0 !important;
  padding-left: 0.5rem !important;
  font-size: 0.85rem !important;
  margin-bottom: 0px !important;
}

.sideBarContentItems a.nav-link:hover,
.sideBarContentItems a.nav-link:focus,
.sideBarContentItems a.nav-link:hover:after,
.sideBarContentItems a.nav-link:focus:after {
  color: #0088cc !important;
}

.sideBarDropdown > a.nav-link:after {
  position: absolute;
  /* top: 50%; */
  /* transform: translateY(-50%); */
  right: 0.5rem;
  content: "\f105" !important;
  border: none !important;
  font-family: "Font Awesome 5 Free" !important;
  font-weight: 900 !important;
  font-size: 0.75rem;
  color: #666 !important;
}

.sideBarDividerLine {
  background-color: rgba(110, 102, 102, 0.8) !important;
}

.sideBarDropdown > div.dropdown-menu {
  background-color: #222 !important;
  border: transparent;
  position: relative !important;
  left: 0 !important;
  top: 100% !important;
  width: 100%;
}

.sideBarDropdown > div.dropdown-menu > a {
  color: #fff !important;
  font-size: 0.85rem !important;
}
.sideBarDropdown > div.dropdown-menu > a:hover {
  color: #0088cc !important;
  background-color: transparent;
}

.sideBarContentItems a.nav-link[aria-expanded="true"]:after {
  transform: rotate(-90deg) !important;
  animation-name: spin-in;
  animation-duration: 300ms;
  animation-timing-function: ease-in-out;
}

.sideBarContentItems a.nav-link[aria-expanded="false"]:after {
  transform: rotate(0deg) !important;
  animation-name: spin-out;
  animation-duration: 300ms;
  animation-timing-function: ease-in-out;
}

@keyframes spin-in {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(280deg);
  }
}

@keyframes spin-out {
  from {
    transform: rotate(280deg);
  }
  to {
    transform: rotate(0deg);
  }
}

/* Categories Customization */

.sideBarCategoryName {
  margin-left: 1rem !important;
}
